<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "blackjack.beamerlabs.com"
    versionCode = "20200409"
    version     = "2020.04.09" >

  <name>Black Jack Game</name>

  <preference name="android-minSdkVersion"  value="16" />
  <preference name="android-targetSdkVersion"  value="28" />

  <description>
      Just a simple blackjack game.
  </description>

  <author href="http://beamerlabes.com" email="support@phonegap.com">
      Markus Beamer
  </author>

</widget>